/*-----------------------------------------------------------------------------------

    Template Name: App landing page Bootstrap5 HTML5 Template
    Template URI: site.com
    Description: App landing page Bootstrap5 HTML5 Template
    Version: 1.0

-----------------------------------------------------------------------------------

    CSS INDEX
    ===================

    01. Theme default CSS
	02. Header
    03. Hero
	04. Footer

-----------------------------------------------------------------------------------*/
/*===========================
    01.COMMON css 
===========================*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #505478;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline-block;
  text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #505478;
  margin: 0px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 45px;
}

@media (max-width: 767px) {
  h2 {
    font-size: 36px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #505478;
  margin: 0px;
}

.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gradient-1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4354e2), to(#6ca3f3));
  background-image: linear-gradient(#4354e2 0%, #6ca3f3 100%);
  color: #fff;
}

.gradient-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dc4985), to(#f18da2));
  background-image: linear-gradient(#dc4985 0%, #f18da2 100%);
  color: #fff;
}

.gradient-3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2cc590), to(#75eb92));
  background-image: linear-gradient(#2cc590 0%, #75eb92 100%);
  color: #fff;
}

.gradient-4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a866d1), to(#f9a4d7));
  background-image: linear-gradient(#a866d1 0%, #f9a4d7 100%);
  color: #fff;
}

.gradient-5 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1fc61), to(#fff171));
  background-image: linear-gradient(#c9fa42 0%, #daf739 100%);
  color: #fff;
}

.gradient-6 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f51621), to(#ff4f58));
  background-image: linear-gradient(#f73a3a 0%, #f36b6b 100%);
  color: #fff;
}

.gradient-7 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f539), to(#f7a140));
  background-image: linear-gradient(#ffca39 0%, #f3f16b 100%);
  color: #fff;
}

input,
textarea {
  width: 100%;
  border-radius: 10px;
  background: #fff;
  font-size: 16px;
  padding: 17px 30px;
  margin-bottom: 20px;
  color: #868AAA;
  -webkit-box-shadow: 0px 0px 51px rgba(180, 180, 180, 0.16);
  box-shadow: 0px 0px 51px rgba(180, 180, 180, 0.16);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border: 1px solid transparent;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
}

input:focus,
textarea:focus {
  border-color: #DE5088;
}

.back-to-top {
  width: 45px;
  height: 45px;
  background: #DE5088;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.back-to-top.btn-hover {
  position: fixed;
  z-index: 999;
}

.back-to-top:hover {
  color: #fff;
}

*:focus {
  outline: none;
}

/*===== All Button Style =====*/
.main-btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  padding: 20px 35px;
  font-size: 18px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dc4985), color-stop(#e25c8b), color-stop(#e86d92), color-stop(#ed7d9a), to(#f18da2));
  background-image: linear-gradient(to bottom, #dc4985, #e25c8b, #e86d92, #ed7d9a, #f18da2);
}

.main-btn:hover {
  color: #fff;
}

.btn-hover {
  position: relative;
  z-index: 1;
}

.btn-hover::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  border-radius: inherit;
  background: rgba(255, 255, 255, 0.1);
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.btn-hover:hover::after {
  width: 100%;
}

/*===== All Section Title Style =====*/
.section_title .title {
  font-size: 40px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .section_title .title {
    font-size: 26px;
  }
}

.section_title p {
  margin-top: 15px;
  font-size: 18px;
  opacity: 0.5;
}

.section_title.section_title_2 .title,
.section_title.section_title_2 p {
  color: #fff;
}

/*===== All Preloader Style =====*/
.preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  /* Change Background Color */
  background: #fff;
  z-index: 99999;
}

.preloader .loader {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.preloader .loader .ytp-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  margin-left: -32px;
  z-index: 18;
  pointer-events: none;
}

.preloader .loader .ytp-spinner .ytp-spinner-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  -webkit-animation: ytp-spinner-linspin 1568.2353ms linear infinite;
  animation: ytp-spinner-linspin 1568.2353ms linear infinite;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  right: 50%;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  left: 50%;
}

.preloader .loader .ytp-spinner-circle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 200%;
  height: 100%;
  border-style: solid;
  /* Spinner Color */
  border-color: #DE5088 #DE5088 #F9F9F9;
  border-radius: 50%;
  border-width: 6px;
}

.preloader .loader .ytp-spinner-left .ytp-spinner-circle {
  left: 0;
  right: -100%;
  border-right-color: #F9F9F9;
  -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.preloader .loader .ytp-spinner-right .ytp-spinner-circle {
  left: -100%;
  right: 0;
  border-left-color: #F9F9F9;
  -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

/* Preloader Animations */
@-webkit-keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

@keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

@-webkit-keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}

@keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}

@-webkit-keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}

@keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-105 {
  margin-top: 105px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-115 {
  margin-top: 115px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-125 {
  margin-top: 125px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-135 {
  margin-top: 135px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-145 {
  margin-top: 145px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-155 {
  margin-top: 155px;
}

.mt-160 {
  margin-top: 160px;
}

.mt-165 {
  margin-top: 165px;
}

.mt-170 {
  margin-top: 170px;
}

.mt-175 {
  margin-top: 175px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-185 {
  margin-top: 185px;
}

.mt-190 {
  margin-top: 190px;
}

.mt-195 {
  margin-top: 195px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-205 {
  margin-top: 205px;
}

.mt-210 {
  margin-top: 210px;
}

.mt-215 {
  margin-top: 215px;
}

.mt-220 {
  margin-top: 220px;
}

.mt-225 {
  margin-top: 225px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-115 {
  margin-bottom: 115px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-125 {
  margin-bottom: 125px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-135 {
  margin-bottom: 135px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-145 {
  margin-bottom: 145px;
}

.mb-150 {
  margin-bottom: 150px;
}

.mb-155 {
  margin-bottom: 155px;
}

.mb-160 {
  margin-bottom: 160px;
}

.mb-165 {
  margin-bottom: 165px;
}

.mb-170 {
  margin-bottom: 170px;
}

.mb-175 {
  margin-bottom: 175px;
}

.mb-180 {
  margin-bottom: 180px;
}

.mb-185 {
  margin-bottom: 185px;
}

.mb-190 {
  margin-bottom: 190px;
}

.mb-195 {
  margin-bottom: 195px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mb-205 {
  margin-bottom: 205px;
}

.mb-210 {
  margin-bottom: 210px;
}

.mb-215 {
  margin-bottom: 215px;
}

.mb-220 {
  margin-bottom: 220px;
}

.mb-225 {
  margin-bottom: 225px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-105 {
  padding-top: 105px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-125 {
  padding-top: 125px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-135 {
  padding-top: 135px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-145 {
  padding-top: 145px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-155 {
  padding-top: 155px;
}

.pt-160 {
  padding-top: 160px;
}

.pt-165 {
  padding-top: 165px;
}

.pt-170 {
  padding-top: 170px;
}

.pt-175 {
  padding-top: 175px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-185 {
  padding-top: 185px;
}

.pt-190 {
  padding-top: 190px;
}

.pt-195 {
  padding-top: 195px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-205 {
  padding-top: 205px;
}

.pt-210 {
  padding-top: 210px;
}

.pt-215 {
  padding-top: 215px;
}

.pt-220 {
  padding-top: 220px;
}

.pt-225 {
  padding-top: 225px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-125 {
  padding-bottom: 125px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-135 {
  padding-bottom: 135px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-145 {
  padding-bottom: 145px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-155 {
  padding-bottom: 155px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pb-165 {
  padding-bottom: 165px;
}

.pb-170 {
  padding-bottom: 170px;
}

.pb-175 {
  padding-bottom: 175px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-185 {
  padding-bottom: 185px;
}

.pb-190 {
  padding-bottom: 190px;
}

.pb-195 {
  padding-bottom: 195px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pb-205 {
  padding-bottom: 205px;
}

.pb-210 {
  padding-bottom: 210px;
}

.pb-215 {
  padding-bottom: 215px;
}

.pb-220 {
  padding-bottom: 220px;
}

.pb-225 {
  padding-bottom: 225px;
}

/*===========================
    02.HEADER css 
===========================*/
/*===== NAVBAR =====*/
.navbar-area {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.3s ease-out 0s;
}

.sticky {
  position: fixed;
  z-index: 99;
  top: 10px;
  transition: all 0.3s ease-out 0s;
}

.sticky .navbar {
  padding: 16px 30px;
  background: #fff;
  box-shadow: 0 0 10px rgba(34, 34, 34, 0.05);
}

@media (max-width: 767px) {
  .sticky .navbar {
    padding: 5px 30px;
  }
}

.sticky .navbar .nav-item a {
  color: #313450;
}

.sticky .navbar-toggler .toggler-icon {
  background-color: #222;
}

nav.navbar.nav.navbar-inverse {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar {
  position: relative;
  transition: all 0.3s ease-out 0s;
  padding: 16px 30px;
  background: #e6987b;
  border-radius: 10px;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  max-width: 150px;
}

.navbar-toggler {
  padding: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: 5px 0;
  position: relative;
  transition: all 0.3s ease-out 0s;
}

.navbar-toggler.active .toggler-icon:nth-of-type(1) {
  transform: rotate(45deg);
  top: 7px;
}

.navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}

.navbar-toggler.active .toggler-icon:nth-of-type(3) {
  transform: rotate(135deg);
  top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 12px;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    box-shadow: 0px 15px 20px 0px rgba(49, 52, 80, 0.1);
    padding: 5px 12px;
  }
}

.navbar-nav .nav-item {
  margin-left: 40px;
  position: relative;
}

.navbar-nav .nav-item:first-child {
  margin-left: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-nav .nav-item {
    margin-left: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item {
    margin: 0;
  }
}

.navbar-nav .nav-item a {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  transition: all 0.3s ease-out 0s;
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item a {
    color: #313450;
    display: block;
    padding: 4px 0;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item a {
    color: #313450;
    display: block;
    padding: 4px 0;
  }
}

.navbar-nav .nav-item a.active, .navbar-nav .nav-item a:hover {
  color: #E44E83;
}

.navbar-nav .nav-item:hover .sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}

.navbar-nav .nav-item .sub-menu {
  width: 200px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 110%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: none;
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: none;
    opacity: 1;
    visibility: visible;
  }
}

.navbar-nav .nav-item .sub-menu li {
  display: block;
}

.navbar-nav .nav-item .sub-menu li a {
  display: block;
  padding: 8px 20px;
  color: #222;
}

.navbar-nav .nav-item .sub-menu li a.active, .navbar-nav .nav-item .sub-menu li a:hover {
  padding-left: 25px;
  color: #E44E83;
}

.navbar-nav .sub-nav-toggler {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    color: #222;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 767px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    color: #222;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}

.navbar-nav .sub-nav-toggler span {
  width: 8px;
  height: 8px;
  border-left: 1px solid #222;
  border-bottom: 1px solid #222;
  transform: rotate(-45deg);
  position: relative;
  top: -5px;
}

.hero-area {
  padding-top: 160px;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-area {
    padding-top: 180px;
  }
}

.hero-area .hero-content {
  padding-bottom: 80px;
}

.hero-area .hero-content h2 {
  font-size: 55px;
  line-height: 65px;
  font-weight: 700;
  margin-bottom: 30px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-area .hero-content h2 {
    font-size: 42px;
    line-height: 55px;
  }
}

@media (max-width: 767px) {
  .hero-area .hero-content h2 {
    font-size: 38px;
    line-height: 50px;
  }
}

.hero-area .hero-content p {
  font-size: 18px;
  margin-bottom: 40px;
  line-height: 28px;
}

.hero-area .hero-content .hero-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-area .hero-content .hero-btns .main-btn {
  margin-right: 40px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-area .hero-content .hero-btns .main-btn {
    margin-right: 20px;
  }
}

.hero-area .hero-content .hero-btns .watch-btn {
  margin-bottom: 20px;
}

.hero-area .hero-content .hero-btns .watch-btn i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #a866d1;
  font-size: 20px;
  text-align: center;
  line-height: 45px;
  background: -webkit-gradient(linear, left top, left bottom, from(#a866d1), to(#f9a4d7));
  background: linear-gradient(#a866d1 0%, #f9a4d7 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hero-area .hero-content .hero-btns .watch-btn span {
  font-size: 18px;
  font-weight: 600;
  margin-left: 20px;
  display: inline-block;
  color: #505478;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.hero-area .hero-content .hero-btns .watch-btn span:hover {
  color: #DE5088;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-area .hero-content .hero-btns .watch-btn span {
    margin-left: 15px;
  }
}

.hero-area .counter-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 30px;
}

.hero-area .counter-up .single-counter {
  padding: 0 40px;
  position: relative;
}

.hero-area .counter-up .single-counter::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 24px;
  background: rgba(80, 84, 120, 0.6);
  right: 0;
  top: 10px;
}

.hero-area .counter-up .single-counter:first-child {
  padding-left: 0;
}

.hero-area .counter-up .single-counter:last-child {
  padding-right: 0;
}

.hero-area .counter-up .single-counter:last-child::after {
  display: none;
}

.hero-area .counter-up .single-counter span {
  text-align: center;
  display: block;
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .hero-area .counter-up .single-counter span {
    font-size: 16px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hero-area .counter-up .single-counter span {
    font-size: 18px;
  }
}

.hero-area .counter-up .single-counter span.countup {
  font-size: 30px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .hero-area .counter-up .single-counter span.countup {
    font-size: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hero-area .counter-up .single-counter span.countup {
    font-size: 24px;
  }
}

.hero-area .hero-img .img-screen {
  position: absolute;
  z-index: -1;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-area .hero-img .img-screen {
    width: 40%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-area .hero-img .img-screen {
    width: 40%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-img .img-screen {
    display: none;
  }
}

@media (max-width: 767px) {
  .hero-area .hero-img .img-screen {
    display: none;
  }
}

.hero-area .hero-img .img-screen.screen-1 {
  right: 25%;
  bottom: -350px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-area .hero-img .img-screen.screen-1 {
    right: 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-area .hero-img .img-screen.screen-1 {
    right: 0;
  }
}

.hero-area .hero-img .img-screen.screen-2 {
  bottom: 60px;
  right: -220px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-area .hero-img .img-screen.screen-2 {
    bottom: 180px;
    right: -276px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-area .hero-img .img-screen.screen-2 {
    bottom: 180px;
    right: -276px;
  }
}

.hero-area .hero-img .img-screen.screen-3 {
  right: -125px;
  bottom: -475px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-area .hero-img .img-screen.screen-3 {
    right: -250px;
    bottom: -250px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-area .hero-img .img-screen.screen-3 {
    right: -180px;
    bottom: -160px;
  }
}

.feature-area .single-feature {
  padding: 45px 30px;
  border-radius: 10px;
  background: #fff;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-box-shadow: 0px -33px 51px rgba(209, 209, 209, 0.16);
  box-shadow: 0px -33px 51px rgba(209, 209, 209, 0.16);
  overflow: hidden;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .feature-area .single-feature {
    padding: 40px 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .feature-area .single-feature {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .feature-area .single-feature {
    margin-bottom: 30px;
  }
}

.feature-area .single-feature::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 3px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  left: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.feature-area .single-feature.item-1::after {
  background: -webkit-gradient(linear, left top, left bottom, from(#4354e2), to(#6ca3f3));
  background: linear-gradient(#4354e2 0%, #6ca3f3 100%);
}

.feature-area .single-feature.item-2::after {
  background: -webkit-gradient(linear, left top, left bottom, from(#dc4985), to(#f18da2));
  background: linear-gradient(#dc4985 0%, #f18da2 100%);
}

.feature-area .single-feature.item-3::after {
  background: -webkit-gradient(linear, left top, left bottom, from(#2cc590), to(#75eb92));
  background: linear-gradient(#2cc590 0%, #75eb92 100%);
}

.feature-area .single-feature.item-4::after {
  background: -webkit-gradient(linear, left top, left bottom, from(#a866d1), to(#f9a4d7));
  background: linear-gradient(#a866d1 0%, #f9a4d7 100%);
}

.feature-area .single-feature:hover {
  -webkit-box-shadow: 0px 0px 51px rgba(165, 165, 165, 0.26);
  box-shadow: 0px 0px 51px rgba(165, 165, 165, 0.26);
}

.feature-area .single-feature:hover::after {
  width: 100%;
  opacity: 1;
  visibility: visible;
}

.feature-area .single-feature:hover .feature-icon {
  border-radius: 50%;
}

.feature-area .single-feature .feature-content h4 {
  margin-bottom: 20px;
  font-size: 23px;
  font-weight: 600;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .feature-area .single-feature .feature-content h4 {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.feature-area .single-feature .feature-content p {
  font-size: 16px;
  line-height: 24px;
  color: #868AAA;
}

.icon-style {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.how-work-area .accordion-btn button .icon-style {
  border-radius: 50%;
}

.how-work-area .accordion-btn button.collapsed .icon-style {
  border-radius: 5px;
}

.how-work-area .accordion-btn button:hover .icon-style {
  border-radius: 50%;
}

.accordion-style .single-accordion {
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 51px rgba(180, 180, 180, 0.16);
  box-shadow: 0px 0px 51px rgba(180, 180, 180, 0.16);
}

.accordion-style .single-accordion .accordion-btn button {
  padding: 18px 30px;
  padding-right: 50px;
  font-size: 23px;
  font-weight: 600;
  text-decoration: none;
  border: none;
  background: #fff;
  position: relative;
  white-space: normal;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  color: #DE5088;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .accordion-style .single-accordion .accordion-btn button {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .accordion-style .single-accordion .accordion-btn button {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .accordion-style .single-accordion .accordion-btn button {
    font-size: 16px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .accordion-style .single-accordion .accordion-btn button {
    font-size: 18px;
  }
}

.accordion-style .single-accordion .accordion-btn button.collapsed {
  color: #505478;
}

.accordion-style .single-accordion .accordion-btn button:hover {
  color: #DE5088;
}

.accordion-style .single-accordion .accordion-btn button.collapsed::after {
  -webkit-transform: rotate(180deg) translateY(50%);
          transform: rotate(180deg) translateY(50%);
}

.accordion-style .single-accordion .accordion-btn button::after {
  font: normal normal normal 1em/1 "LineIcons";
  content: "\ea5e";
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: rotate(0deg) translateY(-50%);
          transform: rotate(0deg) translateY(-50%);
  font-size: 20px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.accordion-style .single-accordion .accordion-btn button .icon-style {
  margin-right: 20px;
}

.accordion-style .single-accordion .accordion-content {
  padding: 10px 30px 30px;
}

.font-icon.wow.fadeInUp {
  font-size: 12px;
}
.font-contact.wow.fadeInUp {
  font-size: 12px;
}
p.m-b-10.f-w-600.font-icon.wow.fadeInUp.text-center {
  margin-left: 16px;
}

.col-3.col-sm-3.kontak {
  margin-left: 30px;
}

.col-3.col-sm-3.kontak-retail {
  margin-left: 60px;
}

.pricing-area .single-price {
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0px -31px 51px rgba(165, 165, 165, 0.16);
  box-shadow: 0px -31px 51px rgba(165, 165, 165, 0.16);
  padding: 10px 5px 0px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.pricing-area .single-price .price-icon {
  margin-bottom: 25px;
}

.pricing-area .single-price h4 {
  font-size: 23px;
  font-weight: 600;
}

.pricing-area .single-price .package-price {
  color: #DE5088;
}

.pricing-area .single-price .package-details {
  margin-bottom: 30px;
}

.pricing-area .single-price .package-details li {
  font-size: 16px;
  line-height: 32px;
  color: #868AAA;
}

.pricing-area .single-price .price-btn {
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 600;
  background: #868AAA;
  margin-bottom: -25px;
}

.pricing-area .single-price:hover {
  -webkit-box-shadow: 0px 0px 51px rgba(165, 165, 165, 0.16);
  box-shadow: 0px 0px 51px rgba(165, 165, 165, 0.16);
}

.pricing-area .single-price:hover .price-icon {
  border-radius: 50%;
}

.pricing-area .single-price.active {
  -webkit-box-shadow: 0px 0px 51px rgba(165, 165, 165, 0.16);
  box-shadow: 0px 0px 51px rgba(165, 165, 165, 0.16);
}

.pricing-area .single-price.active .price-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#dc4985), to(#f18da2));
  background: linear-gradient(#dc4985 0%, #f18da2 100%);
}

.pricing-area .pricing-nav .nav-pills .nav-item .nav-link {
  color: #505478;
  font-size: 14px;
  font-weight: 300;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.pricing-area .pricing-nav .nav-pills .nav-item .nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#19ad0b), to(#bbbd4f));
  background: linear-gradient(#16b82c 0%, #f18da2 100%);
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: inherit;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.pricing-area .pricing-nav .nav-pills .nav-item .nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#dc4985), to(#f18da2));
  background: linear-gradient(#dc4985 0%, #f18da2 100%);
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: inherit;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.pricing-area .pricing-nav .nav-pills .nav-item .nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#dc4985), to(#f18da2));
  background: linear-gradient(#dc4985 0%, #f18da2 100%);
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: inherit;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.pricing-area .pricing-nav .nav-pills .nav-item .nav-link.active {
  color: #fff;
  background: none;
}

.pricing-area .pricing-nav .nav-pills .nav-item .nav-link.active::after {
  width: 100%;
}


.contact-area h3 {
  font-size: 30px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .contact-area h3 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .contact-area h3 {
    font-size: 26px;
  }
}

.contact-area .contact-form-wrapper .contact-form button {
  font-weight: 700;
  padding: 17px 40px;
}

.contact-area .contact-form-wrapper .contact-form button.btn-hover::after {
  width: 40%;
  opacity: 0;
}

.contact-area .contact-form-wrapper .contact-form button.btn-hover:hover::after {
  opacity: 1;
  width: 100%;
}

.download-area {
  margin-bottom: -230px;
  position: relative;
  z-index: 9;
}

.download-area .download-wrapper {
  background-image: url("../images/download-bg.svg");
}

.download-area .download-wrapper .download-content {
  padding: 125px 0;
}

.download-area .download-wrapper .download-content .download-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.download-area .download-wrapper .download-content .download-btns a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 30px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px rgba(123, 123, 123, 0.16);
  box-shadow: 0px 3px 6px rgba(123, 123, 123, 0.16);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  color: #505478;
}

.download-area .download-wrapper .download-content .download-btns a:hover {
  color: #DE5088;
}

.download-area .download-wrapper .download-content .download-btns a.btn-hover::after {
  background: rgba(222, 80, 136, 0.05);
}

.download-area .download-wrapper .download-content .download-btns a span.icon {
  font-size: 24px;
  margin-right: 20px;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.download-area .download-wrapper .download-content .download-btns a span.text {
  text-align: left;
  font-size: 18px;
  font-weight: 700;
}

.download-area .download-wrapper .download-content .download-btns a span.text b {
  font-size: 12px;
  font-weight: 400;
  display: block;
}

.footer-area {
  background-image: url("../images/footer-bg.png");
  padding-top: 25px;
}

.footer-area .footer-widget {
  margin-bottom: 60px;
}

.footer-area .footer-widget h4 {
  margin-bottom: 35px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-area .footer-widget h4 {
    font-size: 18px;
  }
}

.footer-area .footer-widget a, .footer-area .footer-widget p {
  font-size: 16px;
  line-height: 26px;
  color: #868AAA;
}

.footer-area .footer-widget ul li a {
  line-height: 32px;
}

.footer-area .footer-widget ul li a:hover {
  color: #DE5088;
}

.footer-area .footer-widget .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer-area .footer-widget .social-links li {
  margin-right: 15px;
}

.footer-area .footer-widget .social-links li:last-child {
  margin-right: 0;
}

.footer-area .footer-widget .social-links li a {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.footer-area .footer-widget .social-links li a.facebook {
  color: #6598FE;
}

.footer-area .footer-widget .social-links li a.facebook:hover {
  background: #6598FE;
  color: #fff;
}

.footer-area .footer-widget .social-links li a.twitter {
  color: #5FC5F2;
}

.footer-area .footer-widget .social-links li a.twitter:hover {
  background: #5FC5F2;
  color: #fff;
}

.footer-area .footer-widget .social-links li a.instagram {
  color: #FF679D;
}

.footer-area .footer-widget .social-links li a.instagram:hover {
  background: #FF679D;
  color: #fff;
}

.footer-area .footer-widget .social-links li a.linkedin {
  color: #336DB8;
}

.footer-area .footer-widget .social-links li a.linkedin:hover {
  background: #336DB8;
  color: #fff;
}

.footer-area .footer-widget .subscribe-form {
  overflow: hidden;
}

.footer-area .footer-widget .subscribe-form input {
  padding: 17px 25px;
}

.footer-area .footer-widget .subscribe-form button {
  padding: 17px 40px;
  float: right;
  clear: both;
  font-size: 16px;
  font-weight: 700;
}

.footer-area .footer-cradit {
  padding: 35px 0;
  border-top: 1px solid rgba(134, 138, 170, 0.32);
}

.footer-area .footer-cradit p {
  color: #868AAA;
  font-size: 14px;
}

.footer-area .footer-cradit p a {
  color: #505478;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.footer-area .footer-cradit p a:hover {
  color: #DE5088;
}

.team-section .single-team {
  position: relative;
  margin-bottom: 100px
}

.team-section .single-team:hover .social {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px)
}

.team-section .single-team:hover .team-info::after {
  background: #5f6fff
}

.team-section .single-team:hover .team-info h4,
.team-section .single-team:hover .team-info p {
  color: #fff
}

.team-section .single-team .team-image {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin: auto
}

.team-section .single-team .team-image img {
  width: 100%
}

.team-section .single-team .team-content {
  position: absolute;
  bottom: -60px;
  left: 0;
  width: 100%
}

.team-section .single-team .social {
  margin-bottom: 12px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-out 0s;
  transform: translateY(40px)
}

.team-section .single-team .social ul {
  display: flex;
  align-items: center;
  justify-content: center
}

.team-section .single-team .social ul li a {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #5f6fff;
  color: #5f6fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3px
}

.team-section .single-team .social ul li a:hover {
  background: #5f6fff;
  color: #fff
}

.team-section .single-team .team-info {
  box-shadow: 0 8px 25px rgba(211, 211, 211, .25);
  padding: 20px 0;
  width: calc(100% - 60px);
  text-align: center;
  border-radius: 3px;
  margin: auto;
  transition: all .3s ease-out 0s;
  position: relative;
  z-index: 1
}

.team-section .single-team .team-info::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  border-radius: 3px;
  transform: skewX(-10deg);
  z-index: -1;
  transition: all .3s ease-out 0s
}

.team-section .single-team .team-info h4 {
  font-size: 20px;
  margin-bottom: 5px;
  transition: all .3s ease-out 0s
}

.team-section .single-team .team-info p {
  font-size: 14px;
  transition: all .3s ease-out 0s
}

/*# sourceMappingURL=style.css.map */

.padding-p {
  padding: 3rem !important
}

.user-card-full {
  overflow: hidden
}

.card-p {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px
}

.m-r-0 {
  margin-right: 0px
}

.m-l-0 {
  margin-left: 0px
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
  background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
  background: linear-gradient(to right, #ee5a6f, #f29263)
}

.user-profile {
  padding: 20px 0
}

.card-p-block {
  padding: 1.25rem
}

.m-b-25 {
  margin-bottom: 25px
}

.img-radius {
  border-radius: 5px
}


.card-p .card-block p {
  line-height: 25px
}

@media only screen and (min-width: 1400px) {
  p {
      font-size: 14px
  }
}

.card-p-block {
  padding: 1.25rem
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
  margin-bottom: 20px
}

.p-b-5 {
  padding-bottom: 5px !important
}

.card-p .card-block p {
  line-height: 25px
}

.m-b-10 {
  margin-bottom: 10px
}

.text-muted {
  color: #919aa3 !important
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
  font-weight: 600
}

.f-0{
  color: white;
}

.m-b-20 {
  margin-bottom: 20px
}

.m-t-40 {
  margin-top: 20px
}

.p-b-5 {
  padding-bottom: 5px !important
}

.m-b-10 {
  margin-bottom: 10px
}

.m-t-40 {
  margin-top: 20px
}

.user-card-full .social-link li {
  display: inline-block
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}